.main {
  min-height: 500px;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 0.5rem;
  padding: 1.5rem;
  text-align: left;
  color: rgb(106, 106, 106);
  border: 1px solid transparent;
  border-radius: 15px;
  max-width: 300px;
  min-height: 100px;
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #cccccc;
  color: black;
}

.card h3 {
  margin: 0.5em 0 1rem 0;
  font-weight: normal;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
